
lixeira/
node_modules/
serviceAccountKey*.json
serviceAccountKey.json.json
index copy.html
anotações.txt

arquivos_removidos/
/admin/js/modules/leads.js
/admin/js/modules/sincronizar.js
.env
.vscode
seeds.js
